h1{
    background-color: rebeccapurple;
    color: aliceblue;
    padding: 20px;
    margin: 0px;
}

h2, h3, h4, p{
    padding: 20px;
    margin: 10px;
}

body{
    margin: 0px;
}

p{
    padding: 10px;
    text-indent: 40px;
    font-size: 18px;
}

input{
    padding: 10px;
}


.display_box{
    background-color: rgb(202, 202, 202);
    padding: 30px;
    border-radius: 5px;
    margin: 60px;

}


.navigation li a{
    text-decoration: none;
    padding: 20px;
    color: rebeccapurple;
    
}

.navigation{
    margin: 30px;

    display: block;
}

.navigation li{
    display: inline;
    padding: 0px;
    margin: 20px;
    font-size: 15px;
    font-weight: 500;

}

.navigation li :hover {
    background-color: rebeccapurple;
    color: aliceblue;
    border-radius: 15px;

}

/* Container of Boxes */
.question_boxes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

/* Single Box */
.question_box{
    background-color: rgb(173, 173, 173);
    
    width: 200px;
    padding: 15px;
    margin: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
    box-shadow: 2px 2px 15px black;
}

.question_box:hover{
    background-color: rgb(133, 133, 133);
}

.highlighted {
    background-color: rebeccapurple;
    color: aliceblue !important;
    border-radius: 15px;
}

.text_input{
    margin: 20px;
    border-radius: 20px;
}




.navigation{
    padding-left: 0px;
}


.link_button{
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    display: block;
    text-decoration: none;
    background-color: rgb(104, 116, 168);
    color: aliceblue !important;
    width: 120px;
    border-radius: 20px;
}